/* Write your CSS here */
.heading-container {
  padding: 30px;
  border-radius: 10px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  margin: 20px;
}
.headings-container {
  display: flex;
  justify-content: space-around;
  border: 1px solid #d7dfe9;
  padding: 5px;
  width: 500px;
}

.list-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;

  padding: 5px;
  width: 500px;
}
.form-container {
  display: flex;
  justify-content: space-around;
}
.bg-container {
  margin: 30px;
}
.select-menu {
  padding: 5px;
  background-color: #fff;
  width: 180px;
  border: 1px solid #d7dfe9;
}
